/* RESET BÁSICO */
body {
    margin: 0;
    padding: 20px;
    background: #ffffff;
    font-family: Arial, sans-serif;
}

/* TABELA */
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
}

/* FUNDO DAS CÉLULAS (VISUAL GERAL) */
td {
    background: linear-gradient(
        135deg,
        #fffbfb,
        #ffffff,
        #ffffff
    );
    border-radius: 14px;
    box-shadow:
        inset 0 0 25px rgb(255, 255, 255),
        0 0 20px rgb(231, 230, 230);
}

/* MANTÉM MESMA COR EM TODAS AS CÉLULAS, MESMO COM MÍDIA */
td:has(img),
td:has(video),
td:has(iframe) {
    background: linear-gradient(
        135deg,
        #ffffff,
        #ffffff,
        #ffffff
    );
    box-shadow:
        inset 0 0 25px rgba(255, 255, 255, 0.849),
        0 0 20px rgb(205, 206, 204);
}

/* IMAGEM */
td img {
    background: transparent;
    display: block;
    
}

/* VÍDEO */
td video {
    background: transparent;
    border-radius: 12px;
}

/* IFRAME */
iframe {
    width: 100%;
    height: 450px;
    border: 0;
    border-radius: 12px;
    background: transparent;
}

/* BOTÕES VINIL */
.botao-menu {
    width: 120px;
    height: 120px;
    margin: 15px auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background:
        radial-gradient(circle at center, #000 0%, #000 7%, transparent 8%),
        linear-gradient(135deg, #111, #000);
    border: 4px solid #000;
    box-shadow:
        inset 0 0 10px rgb(255, 255, 255),
        0 8px 15px rgba(0,0,0,0.4);
    transition: transform 0.6s ease;
}

.botao-menu span {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-menu:hover {
    transform: rotate(360deg) scale(1.05);
}
